---

---

<footer>
    <div>
		<a href="https://github.com/Willpower0304/Willpower0304" target="_blank"><img src="/g.svg" alt="github logo"></a>
		<a href="https://x.com/willpower042" target="_blank"><img src="/x.svg" alt="twitter logo"></a>
		<a href="https://www.linkedin.com/in/william-espinoza-7687722ab/" target="_blank"><img src="/l.svg" alt="linkedin logo"></a>
		<a href="https://www.instagram.com/willpower0304/" target="_blank"><img src="/i.svg" alt="instagram logo"></a>
	</div>
		<p>© 2025-2026 William J.</p>
</footer>


<style>
    footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin: 3rem 0;
	}

	footer img {
		width: 40px;
		height: 40px;
		margin: 0 0.5rem;
	}

	footer p {
		color: #FFE395;
		text-align: center;
		margin: 0;
		font-size: 0.8rem;
	}
</style>